.left_aside {
    position: relative;
}

.left_aside aside {
    position: fixed;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 19rem;
    height: 100%;

    transition: transform 400ms ease 0s, visibility 400ms ease 0s;
}

.left_side aside a {
    font-weight: 600;
    height: 3.125rem;
    display: inline-block;
    line-height: 3.125rem;
    ;
}


.left_aside aside {
    /* padding-top: var(--space-5);
    padding-left: var(--space-4);
    padding-right: var(--space-3); */
    padding: var(--aside-top-pd) var(--aside-outer-pd) var(--aside-top-pd) var(--aside-inner-pd);
}

.open {
    display: none;
}

@media (max-width: 70rem) {
.open {
        display: inline-block;
    }
}