.layout {
    display: grid;
    grid-template-columns: 19rem 1fr 15.625rem;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px;
    max-width: calc(115.625rem);
    margin: 0px auto;
}


/* .layout main {
  padding-top: var(--space-5);
} */



@media (max-width: 70rem) {

  .layout {
      grid-template-columns: 5rem 1fr;
      -webkit-box-pack: initial;
      justify-content: initial;
      max-width: 100rem;
      transition: all ease-in-out 0.25s;

    }
            .layout:hover {
              grid-template-columns: 10rem 1fr;
      
      
            }
       
}