.layout {
    display: grid;
    grid-template-columns: 19rem 1fr 15.625rem;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px;
    max-width: calc(115.625rem);
    margin: 0px auto;
}


.layout main {
  padding-top: var(--space-5);
}



